<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %> 

<body>

    <%- include('../partials/header') %> 
    <main class="contenedor-carrito">
        <div class="titulo-carrito">
            <h2>carrito de compras</h2>
        </div>
        <div class="detalle-general">

            <div class="contenedor-detalle-producto">
                <!-- PRODUCTOS -->
                <section class="contenedor-articulo-carrito background-carrito">
                    <!-- ARTICULO-1 -->
                    <article class="article-carrito art1">
                        <div class="img-producto">
                            <img width="100%" src="/img/img-producto-polera-rojo2.jpg" alt="polera">
                        </div>
                        <div class="info-pago">
                            <div class="descripcion-producto-superior">
                                <p class="titulo-producto">Polera de mujer Roma</p>
                                <div class="detalle-producto">
                                    <p>COLOR <span class="color-gris">rojo pasión</span></p>
                                    <p>TALLA <span class="color-gris">xs</span></p>
                                </div>

                            </div>
                            <div class="descripcion-producto-inferior">
                                <p class="estilo-descripcion">referencia del modelo <span
                                        class="color-gris">9076685</span>
                                </p>
                                <p>$3.950</p>
                                <div>
                                    <button>
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <span class="color-gris">1</span>
                                    <button>
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <p class="bold-subtotal">Subtotal: $3.950</p>
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </article>
                    <!-- ARTICULO-2 -->
                    <article class="article-carrito art2">
                        <div class="img-producto">
                            <img width="100%" src="/img/img-producto-vestido-beige1.jpg" alt="vestido">
                        </div>
                        <div class="info-pago">
                            <div class="descripcion-producto-superior">
                                <p class="titulo-producto">Vestido de mujer Roma</p>
                                <div class="detalle-producto">
                                    <p>COLOR <span class="color-gris">beige</span></p>
                                    <p>TALLA <span class="color-gris">m</span></p>
                                </div>
                            </div>
                            <div class="descripcion-producto-inferior">
                                <p class="estilo-descripcion">referencia del modelo <span
                                        class="color-gris">8066685</span></p>
                                <p>$4.650</p>
                                <div>
                                    <button>
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <span class="color-gris">1</span>
                                    <button>
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <p class="bold-subtotal">Subtotal: $4.650</p>
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </article>
                </section>

            </div>
            <!-- TOTAL DE COMPRA -->
            <section class="contenedor-total-carrito">
                <div class="titulo-carrito-total background-carrito">
                    <h2>total carrito</h2>
                </div>
                <div class="contenedor-carrito-total background-carrito">
                    <div class="info-precio-carrito">
                        <div class="subtotal-producto-carrito">
                            <p class="estilo-bold">Subtotal <span class="color-gris">(sin envio): </span> $8.600</p>
                            <div class="medios-de-envios">
                                <i class="fas fa-truck"></i>
                                <h4>Medios de envió</h4>
                            </div>
                            <div class="calculo-medio-envio">
                                <input placeholder="Tu código postal" type="text">
                                <button>
                                    calcular
                                </button>
                            </div>
                            <p class="calculo-cp">No sé mi código postal</p>
                        </div>
                        <div class="total-producto-carrito">
                            <p> total $8.600 </p>
                            <a class="color-gris" href="/">ver mas productos</a>
                            <button class="boton-compra-carrito">iniciar compra</button>
                        </div>
                    </div>
                    <!-- OPCIONES DE PAGO -->
                    <div class="pago-producto-carrito">
                        <h3>opciones de pago</h3>
                        <div class="medios-pago-carrito">
                            <img src="/img/mastercard-medio-de-pago.png" alt="">
                            <img src="/img/amex-medio-de-pago.png" alt="">
                            <img src="/img/visa-medio-de-pago.png" alt="">
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <div class="botones-carrito">
            <button class="boton-carrito">
                Continuar comprando
            </button>
            <button class="boton-carrito">
                Actualizar carrito
            </button>
        </div>
        <!-- PRODUCTOS RELACIONADOS -->
        <div class="contenedor-productos-relacionados">
            <h3>completa tu canasta</h3>
            <div class="carrousel-relacionados">
                <div class="img-carrito1 position-relative"><img width="100%" src="/img/img-producto-relacionado1.jpg"
                        alt="">
                    <button class="btn">ver mas</button>
                </div>
                <div class="img-carrito2 position-relative"><img width="100%" src="/img/img-producto-relacionado2.jpg"
                        alt="">
                    <button class="btn">ver mas</button>
                </div>
                <div class="img-carrito3 position-relative"><img width="100%" src="/img/img-producto-relacionado3.jpg"
                        alt="">
                    <button class="btn">ver mas</button>
                </div>
            </div>

        </div>
    </main>

    <%- include('../partials/footer') %> 



</body>

</html>