/* EIDCIÓN DE IMÁGENES  */
#preview {
    padding: 7px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    width: 100% !important;
    overflow: visible;
}


/* ANCHO DE LOS INPUTS */
label.inputsEdit {
    width: 80%;
}

/* ANCHO DE LOS INPUTS / */


main.edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-edit {
    text-align: center;
    background-color: lightcyan;
    min-width: 300px;
    width: 70%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 10px 10px 0 10px;
}


.contain-edit h3 {
    text-align: center;
}

.contain-edit div {
    margin: 0 auto;
    padding: 7px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    width: 90%;
}

.button-contain {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.button-contain div {
    /* margin-left: 15px; */
}

.button-contain input {
    opacity: 0.2;
    width: 2em;
    height: 2em;
    margin: 7px;
    display: block;
}

div.rojo {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 0, 13);
    border-radius: 50%;
    border: solid 1px darkgrey;
}


div.beige {
    width: 42px;
    height: 35px;
    background-color: rgba(255, 230, 0, 0.479);
    border-radius: 50%;
    border: solid 1px darkgrey;
}

div.blanco {
    width: 42px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px darkgrey;
}

div.negro {
    width: 42px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    border: solid 1px darkgrey;
}





.contain-edit button {
    padding: 7px;
    margin: 15px;
    border-radius: 15%;
}

.button-blue {
    background-color: darkblue;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s;
}


.button-blue:hover {
    background-color: blue;
    border: solid 2px darkblue;
}




.button-red {
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s;
}


.button-red:hover {
    background-color: tomato;
    border: solid 2px red;
}

@media (min-width : 400px) {
    .contain-edit {
        max-width: 410px;
    }
}