:root {
    /* COLORES */
    --color-negro: #000000;
    --color-negroClaro: #181818;
    --color-gris: #fafafa;
    --color-beige: #ae946d;
    --color-blanco: #ffffff;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');