 /* Style the navigation menu */
 .topnav {
   overflow: hidden;
   background-color: #333;
   position: relative;
   padding: 27px;
 }

 /* Hide the links inside the navigation menu (except for logo/home) */
 .topnav #myLinks {
   display: none;
 }

 /* Style navigation menu links */
 .topnav a {
   color: white;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   display: block;
   line-height: 12px;
 }

 /* Style the hamburger menu */
 .topnav a.icon {
   background: black;
   display: block;
   position: absolute;
   left: 43vw;
   top: 0;
 }

 /* Add a grey background color on mouse-over */
 .topnav a:hover {
   color: white;
 }

 /* Style the active link (or home/logo) */
 .active {
   color: white;
 }