.splide.is-initialized, .splide.is-rendered {
    overflow: hidden;
}


/* FUENTE BODY GENERAL productdetail */

body.productdetail {
    font-size: 1.2rem;
}

/* CAROUSELS */
.splide {
    width: 90%;
    height: 415px;
    margin: auto;
    margin-top: 25px;
}

.splide__track {
    width: 100%;
}

.splide__list {
    width: 100%;
}

.splide__slide {
    width: 100%;
    margin: auto;
}

.img {
    width: 100%;
    height: 415px;

}

/* DETALLE DE PRODUCTO */
/*add by Daniel R.*/
/*DESCRIPCION DEL PRODUCTO*/
span.descriptions {
    margin-bottom: 1rem;
    text-align: center;
    display: inline-block;
    margin: 10px;
    font-size: 16px;
    color: hotpink;
}

.nameproduct {
    font-size: 2rem;
    display: block;
}

/* PRECIO CON DESCUENTO */
.pricesmall {
    font-size: 1.2rem;
    color: green;
}

.pricesmall span {
    text-decoration: line-through 2px;
}

.priceoff,
.precio-estilo {
    font-size: 3.7rem;
    display: block;
}

/* DETALLE DE PRODUCTO  / */




.caracteristicas-producto {
    background-color: #ece6e2;
    margin: auto;
    width: 90%;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 2rem;
}

.ml-1 {
    margin-bottom: 10px;
}

.colores-radio {
    display: flex;
    align-items: center;
}

.radio-rojo {
    border: solid 1px black;
    background-color: rgb(255, 0, 13);
    width: 25px;
    height: 25px;
    text-align: center;
}


.radio-rojo input {
    opacity: 0;
}

.radio-beige {
    border: solid 1px black;
    background-color: rgba(255, 230, 0, 0.479);
    width: 25px;
    height: 25px;
    text-align: center;

}

.radio-beige input {
    opacity: 0;
}

.radio-blanco {
    border: solid 1px black;
    background-color: white;
    width: 25px;
    height: 25px;
    text-align: center;

}

.radio-blanco input {
    opacity: 0;
}

.radio-negro {
    border: solid 1px black;
    background-color: black;
    width: 25px;
    height: 25px;
    text-align: center;

}

.radio-negro input {
    opacity: 0;
}

.colores-radio label {
    margin-right: 10px;
}

.ml-2 {
    margin-right: 8px;
}

.detalle-talla {
    display: flex;
    align-items: center;
    margin: 13px 0;
}

.detalle-talla label {
    margin-right: 10px;

}

.talle-producto {
    border: solid 1px black;
    background-color: white;
    width: 25px;
    height: 25px;
    text-align: center;
}

.talle-producto input {
    opacity: 0;
}



.descripcion-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
}


.descripcion-producto p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-align: center
}

.descripcion-producto label {
    text-transform: uppercase;
    font-weight: lighter;
}

.precio-estilo {
    text-transform: uppercase;
    color: rgb(51, 51, 53);
}

.cantidad-producto {
    display: flex;
    align-items: center;
}

.cantidad-producto p {
    margin-right: 10px;
}

.boton-compra {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.boton-compra button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    background-color: #000000;

}

.boton-compra button a {

    color: #fafafa;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}


/* Media Queries */
/* Tablet */
@media screen and (min-width:768px) {
    .splide {
        width: 60%;
        height: 680px;
    }

    .img {
        height: 680px;

    }

    .caracteristicas-producto {
        /*height: 325px;*/
        width: 80%;
    }

    .ml-1 {
        margin: 20px 0;
    }


    .descripcion-producto p {
        font-size: 20px;

    }

    .descripcion-producto label {
        font-size: 18px;
    }

    .boton-compra button a {
        font-size: 17px;


    }

    .boton-compra {
        margin-top: 25px;
    }

    .boton-compra button {
        padding: 10px;
        border-radius: 5px;
        background-color: #000000;

    }
}


/* Desktop */
@media screen and (min-width:1024px) {
    .contenedor-general-c-p {
        width: 100%;
    }

    .splide {
        width: 50%;
        height: 755px;
    }

    .img {
        height: 755px;

    }


    .caracteristicas-producto {

        width: 50%;
    }

    .boton-compra button:hover {
        background-color: rgba(29, 13, 4, 0.849);
        color: white;
    }


}