<footer>
    <!-- BOTON SUBIR ARRIBA FIJO -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <section class="top-footer">

        <article class="envio">
            <div class="envio-logo">
                <i class="fas fa-truck"></i>
            </div>
            <div class="envio-info">
                <h3>ENVIOS A TODO EL PAIS</h3>
                <p>ENVIO SIN CARGO CON SU COMPRA MAYOR A 15000$</p>
            </div>
        </article>

        <article class="pagos">
            <div class="pagos-logo">
                <i class="fas fa-credit-card"></i>
            </div>
            <div class="pagos-info">
                <H3>PAGÀ COMO QUIERAS</H3>
                <p>ACEPTAMOS TARJETAS DE DEBITO Y CREDITO</p>
            </div>
        </article>

        <article class="seguridad">
            <div class="seguridad-logo">
                <i class="fas fa-lock"></i>
            </div>
            <div class="seguridad-info">
                <H3>COMPRÀ CON SEGURIDAD</H3>
                <p>TUS DATOS SIEMPRE PROTEGIDOS</p>
            </div>
        </article>


    </section>

    <section class="footer-box">

        <section class="redes">

            <article class="redes-top">
                <div class="logo-footer">
                    <H3>ROMA</H3>
                </div>
                <div class="redes-footer">
                    <P>REDES SOCIALES</P>
                    <ul>
                        <li><a href="/"><i class="fab fa-twitter"></i></a></li>
                        <li class="red-min"><a href="/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="/"><i class="fab fa-google-plus-g"></i></a></li>
                        <li class="red-min"><a href="/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

            </article>

        </section>

        <section class="footer-navbar">
            <article class="institucional">
                <H4>INSTITUCIONAL</H4>
                <ul>
                    <li><a href="/">QUIENES SOMOS</a></li>
                    <li><a href="/">POLITICAS DE PRIVACIDAD</a></li>
                    <li><a href="/">PROTOCOLOS COVID-19</a></li>
                    <li><a href="/">TERMINOS Y CONDICIONES</a></li>
                    <li><a href="/">DEFENSA DEL CONSUMIDOR</a></li>
                </ul>
            </article>
            <article class="ayuda">
                <H4>AYUDA</H4>
                <ul>
                    <li><a href="/">PREGUNTAS FRECUENTES</a></li>
                    <li><a href="/">SUCURSALES</a></li>
                    <li><a href="/">PAGOS</a></li>
                    <li><a href="/">ENTREGAS</a></li>
                    <li><a href="/">CAMBIOS</a></li>
                </ul>
            </article>
            <article class="cliente">
                <H4>AT. AL CLIENTE</H4>
                <ul>
                    <li>011-15-7024-2868</li>
                    <li>LUN A VIE DE 09 A 20 HS.</li>
                    <li>SABADOS DE 09 A 17 HS.</li>
                    <li>CONTACTO</li>
                    <li>BOTON DE ARREPENTIMIENTO</li>
                </ul>
            </article>
        </section>


        <section class="end-footer">
            <article>
                <p>www.roma.com - TODOS LOS DERECHOS RESERVADOS. las fotos contenidas en este site son propiedad de
                    www.roma.com </p>
            </article>
        </section>


    </section>
</footer>

