<!-- NECESARIOCART -->

<head>


    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- MENU BURGER HEADER MOBILE -->
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Splide -->
    <!-- Link to the file hosted on your server, -->
    <!-- <link rel="stylesheet" href="path-to-the-file/splide.min.css"> -->
    <!-- or the one installed in node_modules directory, -->
    <!-- <link rel="stylesheet" href="node_modules/@splidejs/splide/dist/css/splide.min.css"> -->
    <!-- or the reference on CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Home</title> -->

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/splideHome.css">
    <link rel="stylesheet" href="/css/menuMobile.css">
    <link rel="stylesheet" href="/css/buttonTopFixed.css">


    <!-- Bootstrap CSS -->
    <!-- ADMIN -->
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap/master.css">
    <!-- ADMIN /-->
    <!-- Bootstrap CSS  / -->

    <!-- Splide -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <!-- Splide / -->

    <!-- shop-template PARA productsWoman productsMan resultsHome-->
    <!--CONFLICTO CON MODAL BOOTSTRAP. DESACTIVACIÓN NO AFECTA A MIS PÁGINAS-->
    <!-- <link rel="stylesheet" href="/templates/shop-template/css/components.css"> -->
    <!--CONFLICTO CON MODAL BOOTSTRAP. DESACTIVACIÓN NO AFECTA A MIS PÁGINAS / -->
    <link rel="stylesheet" href="/templates/shop-template/css/icons.css">
    <link rel="stylesheet" href="/templates/shop-template/css/responsee.css">
    <link rel="stylesheet" href="/templates/shop-template/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/templates/shop-template/owl-carousel/owl.theme.css">
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="/templates/shop-template/css/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext'
        rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/templates/shop-template/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/templates/shop-template/js/jquery-ui.min.js"></script>
    <!-- shop-template PARA productsWoman productsMan resultsHome / -->



    <!-- GRACIAS A CÓDIGO DE W3SCHOOLS HACE FUNCIONAR MODAL BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- GRACIAS A CÓDIGO DE W3SCHOOLS HACE FUNCIONAR MODAL BOOTSTRAP / -->


    <!-- BOTÓN PARA SUBIR ARRIBA PUESTO ACA SIRVE PARA TODAS LAS PÁGINAS-->
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

</head>